.bar-1 {
  border-bottom: solid 1px rgb(166, 166, 166);
}

.nav-link-styles {
  padding-left: 15px;
}

.bar-details {
  padding-top: 0;
  padding-bottom: 0;
}

.searchbar-styles {
  width: 1200px;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  display: flex;
  top: 125px;
}

.location,
.calendarWrap,
.amount {
  width: 370px;
  z-index: 10000000;
}

.icon-common {
  position: absolute;
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid 1px rgb(166, 166, 166);
  background-color: #dc3545;
  text-align: center;
}

.location-icon {
  @extend .icon-common;
}

.calendar-icon {
  @extend .icon-common;
}

.amount-icon {
  @extend .icon-common;
}

.icon-s {
  padding-top: 15px;
}

.input-styles {
  margin-left: 49px;
  height: 50px;
  width: 300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid 1px rgb(166, 166, 166);
}

.Search-btn {
  position: absolute;
  height: 50px;
  left: 1100px;
  width: 80px;
}

.navbar-s {
  z-index: 100;
  background-color: white;
}

.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}

.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: #dc3545;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 20px);
  background-color: transparent;
  border-color: transparent;
}

.MultiCarousel .leftLst {
  left: 0;
}

.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
}

.lead {
  font-size: 40px;
  text-align: center;
}

